/.idea
/database
/docker/certbot


/backend/.env
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/public/bundles/
/backend/var/
/backend/vendor/


/frontend/.DS_Store
/frontend/node_modules
/frontend/dist
/frontend/src/config.js
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/pnpm-debug.log*

