/.idea
/database

/backend/.env
/backend/.env.test
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/*.log
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/phpunit.xml
/backend/.phpunit.result.cache

/frontend/.DS_Store
/frontend/node_modules
/frontend/dist
/frontend/src/config.js
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/pnpm-debug.log*

